body {
  background-color: rgb(255, 255, 255);
  line-height: 1em;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  color: grey;
  margin-top: 0.67em;
  margin-bottom: .67em;
}

body {
  color: grey;
  max-width: 48%;
  margin: auto;
}
li {list-style-type: disc;
}

img {
  float: left;
  height: 9em;
  background: #555;
  margin-top: 0.3em;
  margin-bottom: .5em;
  margin-right: .67em;
}

